body{font-family: sans-serif;
       line-height: 1.4;  
     font-size: 1.8rem       }


.nav-bar { background-color: black;
           display: flex ;
            position: fixed;
            width: 100%; 
            padding: 0 10px;   
            z-index: 10;
            top: 0;
            left: 0;      }
.font { color: white;  
  font-face: Roboto ; 
  font-family: sans-serif ;  
font-size: 1.8rem;
  weight: 400;              }
.nav { display: flex;
         align-item: flex-start;
         justify-content: center;
           width: 90%;
       
}
.logo { flex: 1;
        font-size: 20px;
       padding: 7.5px 10px 7.5px 0 ; }
a { display: block; 
         padding: 15px 5px;   
     color: white;   
        font-family: sans-serif;      }

.item { order: 1;
        position: relative;
         width: auto;
         padding: 10px; 
  }

.item-button { order: 1;
width: auto;
  display: block;
  padding: 9px 5px;
  
  
}
.button-1 { background-color: royalblue;
            border: solid royalblue;        }
.button-2 { background-color: black; 
            border: solid royalblue;             }
* { box-sizing: border-box;  
   margin: 0 ;
   padding: 0;
}
ul { list-style: none;  
      margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  
} 
.button-box { padding: 10px 15px;
              margin: 5px 0;       
              font-family: sans-serif; 
               font-size: 1.8rem;          }

#welcome-section { display: flex;
                    flex-direction: column;
                  justify-content: center;
               width: 100%;
                 height: 100vh;
       background-color: none ;
       background-image: linear-gradient( 180deg, royalblue 50%, red 100% ) ;
        align-text: center;  
        margin-left: 0;
        margin-right: 0;
}
h1 { font-size: 6rem ; 
      font-weight: 700; 
     text-align: center;
     margin-block-start: 0.83em;
       margin-block-end: 0.83em;
    color: white;
     width:100%;             }
            

#welcome-section > footer { font-size: 3rem;
                       font-weight: 200; 
                      font-style: Italic;  
                       text-align: center;     
                        color: black;
                        width: 100%;          }

#project-grid { display: grid; 
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr ) );
                 grid-gap: 4rem;
                 width: 100%;
               max-width: 1280px;
                 margin: 0 auto;
              margin-bottom: 10px;
                                     }            
                     
span{ color: white;
       font-size: 2rem;
            padding: 2rem 0.5rem;         }

#project-content { text-align: center;
                     padding: 10rem 2rem;
                    background-color: royalblue;
                     background-image: linear-gradient(90deg, royalblue 0%, lightblue 100%   );
}
.project-header { width: 640px; 
                 margin: 0 auto 6rem auto ;
                 color: white ;
                   border-bottom: 0.2rem solid white;               }
h2 { font-size: 4.2rem;   }
.project-title { background-color: black;
                 border-radius: 10px;
                   
                  margin-bottom: 48.75px;                 }
a { color: white;  }
.project-img: {
                 object-fit: contain; 
                       width: 100%;         }


.final-card { background-image: linear-gradient(180deg,  royalblue 50%, red 100%  );
               display:block; 
               justify-content: center;
               text-align: center;
                align-items: center;
               width: 100%;
              height: 80vh;
              padding: 0 2rem;
                  color: white;}
.contact-links { display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    max-width: 980px;
                        flex-wrap: wrap;  
                      margin-top: 50px;  
                      margin-left: 50px;
                       margin-right: 50px;  }
.contact-header { color: white; 
                   display: block;
                    justify-content: center;
                     text-align: center;
                     align-items: center;
                     width: 100%;
                     padding-top: 50px;                         }
.contact-header > p { font-style: italic;        }
  .final { background-color: black; 
            display: flex; 
             justify-content: space-between;
              padding: 30px
                   }
td { color: white;
     font-size: 1.4rem;       }


.btn-show-all { background-color: gray;
        display: inline-block;
        font-size: 2rem;
          padding: 1rem 2rem;
          border-radius: 6px;    
                         }