.header { background-color: black;
           display: block ;
            position: fixed;
            width: 100%; 
            padding: 0 15px;   
                              }
.font { color: white;  
  font-face: Roboto ; 
  font-family: sans-serif ;  
size: 1.8rem;
  weight: 400;              }